<!DOCTYPE html>
<html>
  <head>
    <title>Pineterest</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style2.css">
  </head>
  <body>
    <div class="header">
<!--       <a href="/post"><div><a class="btn btn-default" id="but" role="button">Make Pin</a> </div></a> -->
      <% if session[:user_id] != nil%>
    <div id="make" ><a href="/post"><button type="button" id="myButton" data-loading-text="Loading..."  class="btn btn-primary" autocomplete="off" href='/post'>
      
  Make Pin
      </button></a></div>
      <% end %>
      
      <% if session[:user_id] != nil%>
          <div id="logout" ><a href="/logout"><button type="button" id="myButton" data-loading-text="Loading..."  class="btn btn-primary" autocomplete="off" href='/logout'>
      
      Logout
      </button></a></div>
      <% end %>
      <% if session[:user_id] == nil%>
        <div id="logout" ><a href="/login"><button type="button" id="myButton" data-loading-text="Loading..."  class="btn btn-primary" autocomplete="off" href='/login'>
      
      Login
      </button></a></div>
       <div id="make" ><a href="/signup"><button type="button" id="myButton" data-loading-text="Loading..."  class="btn btn-primary" autocomplete="off" href='/signup'>
      
      Sign Up
      </button></a></div>
      <% end %>
       
      
    <p class="lead" id="hi"> Pinterest </p>    
    </div>
    <% @pins.each do |pin| %>
    <div class="pin">
      <div id="username"  class="glyphicon glyphicon-user" aria-hidden="true"><span class="test"><%= pin.user.username %></span></div>
      
      <% if pin.link.include?("http") == true%>
        <a href="<%= pin.link %>">
        <%else%>
        <a href="https://<%= pin.link %>">
        <%end%>
      <div id="image"><img src="<%= pin.image %>" width="222.5">
         
      </div>
      </a>
<!--       <div id="image">
       <img src="<% #pin.image %>" width="213">
      </div>
         -->
     
      <div id="content"><%= pin.description %></div>
      
      <div id="cat"><p class="lightgray">Found In</p><span class="darkgray"><%= pin.category %></span></div>
    </div>
    <% end %>
    </div>
  </body>
<script>
  $('#myButton').on('click', function () {
    var $btn = $(this).button('loading')
    // business logic...
    $btn.button('reset')
  })
</script>
</html>